@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@-ms-viewport{
  width: device-width;
}

:root {
  background-color: #242424;
}

* {
  scroll-behavior: smooth;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", "Charter", sans-serif;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: blue;
  transform-origin: 0%;
}

.contactNano {
  border-radius: 40px;
  background: #242424;
  box-shadow:  5px 5px 10px #1e1e1e,
               -5px -5px 10px #2a2a2a;
}

@layer components {
  .header {
    @apply cursor-pointer w-full h-full drop-shadow-lg bg-r-mainblack hover:bg-r-mainwhite hover:text-r-mainblack px-[.5vw] text-[12px] transition-all ease-in-out duration-500;
  }

  .mainPosters {
    @apply shadow-lg z-10 landscape:w-[30vw] portrait:w-[60vw] hover:opacity-50 transition-all ease-in-out duration-500
  }

.headerEffect {
  @apply  xl:hover:text-r-mainblack xl:hover:bg-r-mainwhite xl:hover:rounded-l-full xl:px-3 
          xl:ease-in-out xl:duration-700 transition-all
}

  .aboutHover {
    @apply hover:cursor-default hover:blur-sm ease-in-out duration-700;
  }

  .faqTitle {
    @apply flex cursor-pointer w-full shadow-md justify-center items-center px-5 uppercase tracking-[2vw] lg:tracking-[1vw] rounded-full bg-r-mainwhite/90 py-3 lg:py-5 text-center text-sm lg:text-base text-r-mainblack hover:text-r-mainwhite hover:bg-r-mainblack ease-in-out duration-300;
  }

  .faqBody {
    @apply text-center text-sm lg:text-base p-2 text-r-mainwhite/80;
  }

  .contactInput {
    @apply resize-none rounded-md px-[.4vw] md:px-6 py-4 
    focus:outline-none ring-0 focus:ring-0 border-none 
    text-r-mainwhite placeholder:px-7 md:placeholder:px-2 placeholder:text-r-mainwhite/50 focus:bg-r-mainwhite/5 transition-colors
  }

  .imageContainer {
    @apply rounded-lg h-auto w-[60vw] md:w-[50vw] lg:w-[30vw] xl:w-[20vw] mx-1 opacity-80 hover:opacity-100 snap-center ease-in-out duration-300;
  }

}
